* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(171 , 211 , 211);
  font-family: Poppins, sans-serif;
}

header {
  text-align: center;
  margin-top: 2%;
}

header h1 {
  font-size: 40px;
  height: 60px;
}

header p {
  font-size: 14px;
  margin-bottom: 20px;
}

section {
  background-color: rgba(0 , 0 , 0 , 0.12);
  width: 80%;
  height: 75vh;
  margin: auto;
  border-radius: 10px;
  padding: 50px;
  overflow-x: hidden;
}

section input {
  height: 28px;
  width: 300px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 18px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.insert-task {
  text-align: center;
  margin-bottom: 10px;
}

section button {
  height: 28px;
  width: 90px;
  background-color: rgb(67 , 67 , 67);
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.insert-task button {
  background-color: rgb(111 , 111 , 111);
}

img {
  width: 26px;
}

.insert-task button img {
  width: 12px;
  margin-right: 6px;
}

#criar-tarefa {
  width: 120px;
  height: 28px;
}

.option-buttons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-buttons button {
  width: 45px;
}

button:hover {
  box-shadow: 1px 1px 5px 2px rgba(0 , 0 , 0 , 0.4);
  transition: box-shadow 400ms;
}

section button:focus {
  outline: none;
}

.option-buttons button:nth-of-type( 1 ) {
  background-color: transparent;
  border: none;
}

.option-buttons button:nth-of-type( 2 ) {
  background-color: transparent;
  border: none;
}

.option-buttons button:nth-of-type( 5 ) {
  background-color: transparent;
  border: none;
}

.option-buttons button:nth-of-type( 6 ) {
  background-color: transparent;
  border: none;
}

section input:focus {
  outline: none;
}

.completed {
  text-decoration: line-through solid black;
}

#apaga-tudo {
  margin-left: 5px;
}

#remover-finalizados {
  width: 160px;
  margin-left: 5px;
  margin-top: -5px;
  margin-right: 5px;
}

#remover-selecionado {
  width: 165px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: -5px;
}

#lista-tarefas {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  list-style: circle;
}

li {
  border-radius: 4px;
  padding: 1px;
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: -15px;
}
