#criar-tarefa {
  width: 60px;
  height: 30px;
}

li {
  background-color: white;  
  cursor:cell;
}

.selected {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through;
}