#criar-tarefa {
    color: bl;
    background-color: green;
}

.completed {
    text-decoration: line-through;
}

#body {
    background-color: white;
}

#funcionamento {
    color:black;
    
}

.selected {
  color: rgb(128,128,128);
}
