body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.selected {
    background-color: rgb(128, 128, 128);
}
.completed {
    text-decoration: line-through solid black;
  }