body {
  font-family: Montserrat, sans-serif;
  background-color: rgb(243 , 243 , 243);
}

.completed {
  text-decoration: line-through;
}

#selected {
  background-color: gray;
}

header {
  background-color: rgb(79 , 123 , 84  );
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  padding-top: 33px;
}

/* button {
  background-color: rgb(79 , 123 , 84  );
  font-family: Montserrat, sans-serif;
  border-radius: 12px;
  color: rgb(243 , 243 , 243);
  padding: 5px;
  border: 4px solid;
  outline: none;
  cursor: pointer;
  transition: ease-in 0.13s;
  box-shadow: 0 5px rgb(182 , 181 , 181);
} */

button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: rgb(243 , 243 , 243);
  background-color: rgb(79 , 123 , 84  );
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px rgb(153 , 153 , 153);
}

button:active {
  background-color: rgb(57 , 75 , 59);
  box-shadow: 0 3px rgb(102 , 102 , 102);
  transform: translateY(4px);
}
