@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: mediumslateblue;
  font-family: fantasy, sans-serif;
}

#title {
  display: flex;
  font-size: 50px;
  z-index: 0;
  justify-content: center;
  letter-spacing: 5px;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  align-self: center;
}

img {
  display: flex;
  position: fixed;
  z-index: -1;
  height: 600px;
  align-self: center;
}

#lista-tarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: lightsteelblue;
  color: mediumslateblue;
  width: 400px;
}

#funcionamento {
  display: flex;
  align-self: center;
  font-size: 20px;
  background-color: lightsteelblue;
}

.selected {
  background-color: rgb(128 , 128 , 128);
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

li {
  cursor: pointer;
}

button {
  margin: 5px;
  width: 140px;
}

.btn-direction {
  display: flex;
  flex-direction: row;
}

.buttons-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
