body {
  margin: 2%;
  background-color: rgb(107 , 210 , 107);
}

#main {
  background-color: aliceblue;
  padding: 5%;
  border-radius: 10px;
}

#title , #funcionamento , #texto-tarefa , #lista-tarefas {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  margin-top: 0;
}

#funcionamento {
  color: rgb(90 , 90 , 90);
}

#texto-tarefa {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid rgb(202 , 194 , 194);
}

button {
  border: 0;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 600;
  color: white;
}

#texto-tarefa:focus , button:focus {
  outline: none;
}

#lista-tarefas {
  text-align: left;
  border: 1px solid rgb(107 , 210 , 107);
  border-radius: 10px;
  padding: 10px 30px;
}

.task {
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  margin: 5px;
}

.select {
  background-color: grey;
}

.completed {
  text-decoration: line-through solid black;
  font-style: italic;
  user-select: none;
}

#mover-cima , #mover-baixo {
  font-weight: 600;
}

#criar-tarefa , #mover-cima , #mover-baixo , #salvar-lista {
  background-color: rgb(111 , 190 , 255);
}

#criar-tarefa:active , #mover-cima:active , #mover-baixo:active , #salvar-lista:active {
  background-color: rgb(88 , 147 , 196);
}

#apaga-tudo {
  background-color: rgb(255 , 111 , 111);
}

#apaga-tudo:active {
  background-color: rgb(196 , 88 , 88);
}

#remover-finalizados , #remover-selecionado {
  background-color: rgb(255 , 209 , 111);
}

#remover-finalizados:active , #remover-selecionado:active {
  background-color: rgb(196 , 167 , 88);
}
