#funcionamento {
  font-style: italic;
}

#criar-tarefa {
  background-color: rgb(117, 117, 194);
  color: white;
  font-weight: 600;
  height: 20px;
  border-radius: 10px;
}

#lista-tarefas {
  color: #000;
  background-color: white;
  width: 226px;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
  background-color: rgb(128, 128, 128);
}

.new-item-list {
  text-decoration: none;
}