* {
    margin: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./images/todoBg.svg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: Montserrat, sans-serif;
  }
  
  header {
    color: white;
    font-weight: 800;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #funcionamento {
    margin-bottom: 13px;
  
  }
  
  .buttons_container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons_container:first-child {
    margin-left: 10px;
  }
  
  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  img {
    width: 26px;
  }
  
  .normal-btn {
    color: white;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0 , 0 , 0 , 0.2);
    background: rgb(202 , 60 , 60);
    padding: 4px 8px;
  }
  
  #salvar-tarefas {
    margin-right: 10px;
    background: rgb(28 , 184 , 65);
  }
  
  #criar-tarefa {
    background: rgb(66 , 184 , 221);
  }
  
  .note {
    background: url('http://i.stack.imgur.com/ynxjD.png') repeat-y;
    width: 52vw;
    max-height: 80vh;
    margin: auto;
    font: 400 14px verdana, sans-serif;
    line-height: 25px;
    padding: 2px 10px;
    box-shadow: inset -1px -1px 2px rgba(0 , 0 , 0 , 0.2),
      5px 10px 5px rgba(0 , 0 , 0 , 0.2);
    overflow-x: auto;
  }
  
  .input_container {
    width: 100%;
    margin: 22px 0 0;
    text-align: center;
  }
  
  .input_container input {
    width: 30vw;
    margin: auto;
    background-color: rgba(252 , 251 , 214 , 255);
    border: 1px solid black;
  }
  
  li {
    margin-left: 72px;
    font-family: cursive, sans-serif;
  }
  
  .note-container {
    display: flex;
    justify-content: center;
  }
  
  #lista-tarefas:last-child {
    margin-bottom: 25px;
  }
  
  .selected {
    background-color: gray;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  
  @media ( max-width : 1440px ) {
  
    .note {
      width: 65vw;
    }
  
  }
  