#criar-tarefa {
  margin-left: 30px;
  margin-top: -5px;
  width: 150px;
  height: 30px;
  position: absolute;
}

.selected {
  background-color: rgb (128, 128, 128);
}

#apaga-tudo {
  margin-top: 30px;
}
