body {
  background-color: rgba(197 , 99 , 197 , 0.699);
}

div {
  background-color: white;
  border-radius: 20px;
  width: 60%;
  margin-left: 50px;
  margin-top: 100px;
  padding: 25px 0;
}

h1 {
  margin-top: 10px;
  margin-left: 60px;
  font-size: 30px;
}

p {
  font-size: 20px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  margin-left: 60px;
  padding: 8px 0;
}

input:hover {
  border-color: slateblue;
}

button {
  margin-left: 20px;
  border-radius: 30px;
  font-size: 20px;
  padding: 5px 20px;
  letter-spacing: 1px;
  border: none;
  background-color: slateblue;
  color: white;
}

button:focus {
  outline: none;
}

#apaga-tudo {
  margin-left: 258px;
  margin-top: 45px;
  position: fixed;
}

#remover-selecionado {
  margin-top: 45px;
  margin-left: 60px;
}

